@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean');

svg:not(:root) {
    overflow: hidden;
}

.treeGrid {
    height: 100%;
    width: 100%;
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
}

.treeBox {
    width: 100%;
    height: 100%;
}
