div {
  display: block;
}

.background {
  position: fixed;
  display: flex;
  box-orient : horizontal;
  box-direction: normal;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.leftGrid {
  width: 73%;
  height: 100%;
  background: #E8EAF6;
}

.rightGrid {
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  width: 27%;
  height: 100%;
  background: #252839; 
}
